/*
* --------------------------------------------------
* Fonts
* --------------------------------------------------
*/

@font-face {
  font-family: 'Bebas';
  src: url('../../public/Fonts/Bebas-Regular.woff2') format('woff2'),
      url('../../public/Fonts/Bebas-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../../public/Fonts/SourceSansPro-LightIt.woff2') format('woff2'),
      url('../../public/Fonts/SourceSansPro-LightIt.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../../public/Fonts/SourceSansPro-Regular.woff2') format('woff2'),
      url('../../public/Fonts/SourceSansPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../../public/Fonts/SourceSansPro-Light.woff2') format('woff2'),
      url('../../public/Fonts/SourceSansPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/*
* --------------------------------------------------
* Common
* --------------------------------------------------
*/
body {
  font-family: 'Source Sans Pro';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
 h1, h2, h3, h4, h5, h6,.cart-line p strong {
  font-family: 'Bebas';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* 
* --------------------------------------------------
* Header
* --------------------------------------------------
*/

.nav-item{
  text-transform: uppercase;
  font-family: 'Bebas';
  font-weight: normal;
  font-style: normal;
  font-size:18px;
}
.nav-item:hover {
  color: #fff;
}

/*
* --------------------------------------------------
* Product 
* --------------------------------------------------
*/
.product-options-item.active {
  background: #000;
  color:#fff;
}

/*
* --------------------------------------------------
* components/Aside
* --------------------------------------------------
*/

.h-65vh {
  height: 65vh;
}


/*
* --------------------------------------------------
* Text Ticker
* --------------------------------------------------
*/


@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
.text-ticker {
  background: rgb(255,0,194);
  background: -moz-linear-gradient(90deg, rgba(255,0,194,1) 0%, rgba(255,0,0,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(255,0,194,1) 0%, rgba(255,0,0,1) 100%);
  background: linear-gradient(90deg, rgba(255,0,194,1) 0%, rgba(255,0,0,1) 100%);
}
.ticker-wrap {
  bottom: 0;
  width: 100%;
  overflow: hidden;
  padding-left: 100%;
  box-sizing: content-box;

}
.ticker {
  display: inline-block;
  line-height: 2rem;  
  white-space: nowrap;
  padding-right: 100%;
  box-sizing: content-box;
  -webkit-animation-iteration-count: infinite; 
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
 -webkit-animation-name: ticker;
         animation-name: ticker;
  -webkit-animation-duration: 80s;
          animation-duration: 80s;
}

.ticker__item {
  display: inline-block;
  padding: 0 0.5rem;
  font-size: 1rem;
  color: white;   
}